# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/

# Files
/database/book_database.csv

# Build artifacts
dist/
build/
*.egg-info/

# Test / coverage outputs (just in case I use this later)
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints (just in case I use this later)
.ipynb_checkpoints/

# REST API extras (just in case I use this later)
.env
*.log
*.sqlite3
*.db
tmp/
